@media (max-width: 480px) {
    :root {
        font-size: 16px;
    }
    html {
        overflow-x: clip;
    }
    * {
        max-width: 100dvw;
    }
    body {
        overflow-x: clip;
    }

    #hero {
        height: auto;
    }
    .hero_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero_content h1 {
        font-size: 2.4rem;
    }
    .container {
        width: 90dvw;
    }

    header {
        flex-direction: row;
        align-items: center;
        padding: 0px 10px;
        position: sticky;
        top: 0;
        left: 0;
        overflow-x: clip;
    }
    nav ul {
        position: fixed;
        left: -100%;
        top: 90px;
        gap: 0;
        flex-direction: column;
        background-color: #131d42;
        width: 100vw;
        text-align: center;
        transition: all 0.4s ease-in-out;
        z-index: 10;
    }
    nav ul li {
        margin: 16px 0;
        background-color: #131d42;
    }
    nav ul.active {
        left: 0;
    }

    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .benefits_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .timer {
        flex-direction: column;
    }

    .two-sections {
        flex-direction: column;
    }
    #testimonials,
    #working {
        width: 100%;
        margin-bottom: 30px;
    }
    .testimonial p {
        font-size: 1.3rem;
        width: 100%;
    }
    .testimonial_pic {
        width: 50%;
        margin-left: -20px;
        margin-right: -60px;
    }
    .step {
        width: auto;
    }
    .step p {
        font-size: 1.1rem;
    }

    .footer-content {
        flex-direction: column;
        justify-content: start;
    }
    .cite_map {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contacts {
        margin-left: 35px;
    }
}
