@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}
html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #131d42;
}
.header_logo {
    height: 6em;
}
ul {
    list-style: none;
    display: flex;
    gap: 65px;
}
ul li a {
    color: #edefea;
    text-decoration: none;
}
header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero {
    background: url("./img/BG.jpg");
    background-size: cover;
    height: 90vh;
    width: 100%;
    padding-block: 80px;
}
.hero_content h1 {
    font-size: 76px;
    line-height: 110%;
    text-transform: uppercase;
    color: #edefea;
    font-weight: bold;
    padding-bottom: 50px;
}
.hero_btn {
    color: #edefea;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    padding: 25px 65px;
    background-color: #569b96;
    border: none;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
.hero_btn:hover {
    background-color: #437875;
}

#benefits {
    padding-block: 50px;
}
.benefits_content {
    display: flex;
    justify-content: space-between;
}
.benefit {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 300px;
    color: #131d42;
}
.benefit span {
    font-size: 85px;
}
.benefit h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    padding-block: 10px;
}
.benefit p {
    font-size: 1.1em;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    padding: 40px 20px 0px 20px;
    background-color: white;
    border-radius: 15px;
    text-align: center;

    animation: fade 0.3s ease-in-out;
    overflow: hidden;
}
.popup-content h2 {
    font-size: 35px;
}
.popup-content p {
    padding: 10px 15px 30px;
}

.popup-content button {
    width: 49%;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: 600;
    background: none;
    color: #0078d7;
}

.popup-content button + button {
    border-left: 1px solid #ddd;
    border-radius: 0;
}

/* animation */
@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
#countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.timer {
    display: flex;
    gap: 20px;
}
.timer h3 {
    font-size: 4rem;
}
.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #569b96;
    color: white;
    padding: 10px 75px;
    border-radius: 5px;
}
#countdown h2 {
    font-size: 3rem;
    padding-bottom: 20px;
}
#color_display {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding: 35px 0;
    margin: 25px auto;

    color: #edefea;
    background: #569b96;

    border-radius: 5px;
}
.color_btn {
    font-size: 1.2rem;
    padding: 10px 25px;
    margin-top: 10px;

    background: #edefea;
    color: #569b96;

    border-radius: 25px;
}
.color_btn:hover {
    color: #edefea;
}

#testimonials,
#working {
    width: 50%;
}
#working {
    padding-inline: 30px;
}
.testimonial {
    display: flex;
    align-items: center;

    background-color: #131d42;
    height: 140px;
    padding: 40px 20px;
    border-radius: 10px;
}
.two-sections h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}
.testimonial p {
    font-size: 1.6rem;
    width: 60%;
    padding-left: 50px;
    color: #edefea;
    font-weight: 500;
}
.testimonial_pic {
    width: 30%;
}
.two-sections {
    display: flex;
    justify-content: space-between;
    margin-block: 40px;
}

.steps {
    display: flex;
    justify-content: space-between;
}
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.step h3 {
    font-size: 2.5rem;
    background-color: #131d42;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #edefea;
}
.step span {
    font-size: 5rem;
    color: #131d42;
}
.step p {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
}

footer {
    background-color: #131d42;
    padding-block: 20px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
footer .cite-map ul {
    padding-left: 20px;
    flex-direction: column;
    gap: 20px;
}

.contacts {
    padding-top: 15px;
    color: #edefea;
}
.contacts h2 {
    padding-bottom: 20px;
}
.contacts ul {
    display: block;
    padding-bottom: 25px;
    list-style: disc;
}

.copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.414);
}
